<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>edu.witc.utility.PetContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>PetServlet</servlet-name>
        <servlet-class>edu.witc.pet.servlet.PetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>edu.witc.pet.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Auth_Controller</servlet-name>
        <servlet-class>edu.witc.pet.servlet.Auth_Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PetServlet</servlet-name>
        <url-pattern>/pet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/petAdmin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Auth_Controller</servlet-name>
        <url-pattern>/authenticate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>customerServiceEmail</param-name>
        <param-value>customerservice@pethotel.com</param-value>
    </context-param>
    <context-param>
        <param-name>copyrightYear</param-name>
        <param-value>2020</param-value>
    </context-param>
    <security-role>
        <description>Pet Hotel Security Roles</description>
        <role-name>programmer</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>programmer</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login_error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error_404.jsp</location>
    </error-page>
</web-app>
